.order-list {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.order {
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.order p {
    margin: 0 0 5px;
}

.order-links {
    text-align: right;
}

.order .order-links {
    margin: 5px 0 0;
}